.payroll-page{
    background-color: #f6f7fb;
    color: #06283D;
    width: 100%;
    margin: 50px auto;
    padding: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}
