.payroll-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .list-field{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .list-action{
        .btn{
            border-width: 2px !important;
            outline: none !important;
            box-shadow: none !important;
            min-width: 120px !important;
            font-size: 14px !important;
            + .btn{
                margin-left: 20px;
            }
            &.apply{
                display: none;
            }
        }
    }
}

.form-floating{
    .form-select, .form-control{
        font-size: 14px !important;
        box-shadow: none;
    }        
}

